<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826007694241-71t2j1kdo59tuouu50fn81hkqdllr4o4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826007694241-71t2j1kdo59tuouu50fn81hkqdllr4o4</string>
	<key>API_KEY</key>
	<string>AIzaSyDmZbAQ7IBCOgsM3SKVimBVi0sBs2LNn64</string>
	<key>GCM_SENDER_ID</key>
	<string>826007694241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ibrhmdn.FilmDemo</string>
	<key>PROJECT_ID</key>
	<string>filmdemo-28c4d</string>
	<key>STORAGE_BUCKET</key>
	<string>filmdemo-28c4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826007694241:ios:e476e85c4f0248dda0f9e0</string>
	<key>DATABASE_URL</key>
	<string>https://filmdemo-28c4d.firebaseio.com</string>
</dict>
</plist>